footer {
  background-color: #050505;
  padding: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-footer{ 
  width: 180px;
}

footer a {
  font-size: 18px;
}

.content-footer-menu {
  display: flex;
  gap: 64px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.split-footer {
  display: flex;
  flex-direction: column;
}

.footer-address h3 {
  font-size: 18px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.link-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 1206px) {
  footer {
    background-color: #050505;
    padding: 120px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .content-footer-menu {
    gap: 2rem;
    flex-direction: column;
  }

  .footer-social {
    align-items: center;
  }

  .link-contact {
    align-items: center;
  }

  .footer-address {
    text-align: center;
  }

}