.processo {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #050505;
}

.processo-img {
  max-width: 50%;
  height: auto;
  object-fit: cover;
}

.processo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 0px 120px; 
  gap: 64px;
}

.red-button {
  background-color: #8B0401;
  color: #ffffff;
  width: 320px;
  padding: 16px 0px;
  border: none;
  border: 2px solid #8B0401;
}

.red-button:hover {
  border: 2px solid #8B0401;
  background-color: #ffffff00;
  color: #8B0401;
}

.processo h2 {
  color: #ffffff;
  font-size: 64px;
  font-weight: bold;
}

.processo p {
  color: #ffffff;
  font-size: 18px;
}