.servicos {
  background-image: url("../src/background-servicos.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: top right;
  width: 100%;
  padding: 7.5rem 7.5rem 4rem 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.servicos h2 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  padding-top: 7.5rem;
}

.servicos p {
  color: #ffffff;
  font-size: 1.125rem;
}

.text-servico {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards-servicos {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  height: 25rem;
}

.card-servico {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../src/background-card-servicos.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  color: #ffffff;
  font-size: 1.5rem;
}

.button-ver-portifolio {
  display: flex;
  justify-content: center;
}

@media (max-width: 1060px) {
  .servicos {
    background-size: cover;
    object-fit: contain;
    background-position: center right;
    padding: 4rem;
    gap: 4rem;
  }

  .servicos h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
  }

  .cards-servicos {
    flex-wrap: wrap;
    gap: 0.75rem;
    height: 25rem;
  }
  
  .card-servico {
    font-size: 1.5rem;
  }

}

